<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>Car App</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          rel="stylesheet"/>
</head>
<body>


<div class="card mx-xl-5">


    <div class="card-body">


        <form action="#" method="post" th:action="@{/update}" th:object="${car}">
            <p class="h4 text-center py-4">Edit Car</p>

            <div class="text-center py-4 ">
                <label class="col-sm-4 col-form-label">Id: </label>
                <div class="col-sm-3">
                    <input class="form-control" readonly="readonly" th:field="*{id}" type="text">
                </div>

                <br/>
                <br/>

                <label class="col-sm-4 col-form-label">Mark: </label>
                <div class="col-sm-3">
                    <input class="form-control" th:field="*{mark}" type="text">
                </div>
                <br/>
                <br/>

                <label class="col-sm-4 col-form-label">Model: </label>
                <div class="col-sm-3">
                    <input class="form-control" th:field="*{model}" type="text">
                </div>

                <br/>
                <br/>

                <label class="col-sm-4 col-form-label">Color: </label>
                <div class="col-sm-3">

                    <select class="form-control" th:field="*{color}">
                        <option th:each="colorOpt : ${T(pl.szewczyk.carsapp.model.Color).values()}"
                                th:text="${colorOpt.displayValue}" th:value="${colorOpt}"></option>
                    </select>


                </div>

                <br/>
                <br/>


            </div>
            <div class="text-center py-4 mt-3">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>


    </div>


</div>

</body>
</html>
