<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>Car App</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>


<div class="card mx-xl-5">


    <div class="card-body">


        <form  action="#" th:action="@{/save}" th:object="${car}" method="post">
            <p class="h4 text-center py-4">Create new Car</p>


            <div class="text-center py-4 ">
            <label  class="col-sm-4 col-form-label">Id: </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" th:field="*{id}">
            </div>

            <br/>
            <br/>

            <label  class="col-sm-4 col-form-label">Mark: </label>
            <div class="col-sm-3">
                <input type="text"  class="form-control"  th:field="*{mark}">
            </div>
            <br/>
            <br/>

            <label  class="col-sm-4 col-form-label">Model: </label>
            <div class="col-sm-3">
                <input type="text"   class="form-control"  th:field="*{model}">
            </div>

            <br/>
            <br/>

                <label  class="col-sm-4 col-form-label">Color: </label>
                <div class="col-sm-3" >
             <select  class="form-control"  name="color">
                 <option selected>Choose color</option>
                    <option   th:each="colorOpt : ${T(pl.szewczyk.carsapp.model.Color).values()}"
                            th:value="${colorOpt}" th:text="${colorOpt.displayValue}"></option>
                </select>
                </div>
                <br/>
            <br/>


</div>
            <div class="text-center py-4 mt-3">
          <button type="submit" class="btn btn-primary" >Save</button>
            </div>
        </form>


    </div>


</div>
<!-- Card -->
</body>
</html>
